<div class="page-heading">Shopping Cart: {{cart.numberOfItemsInCart()}} {{cart.numberOfItemsInCart() == 1 ? 'Item' : 'Items'}}</div>

<div class="main-content">
  <!-- Iterate over all items in the shoping cart -->
  <div ng-repeat="i in cart.items" style="margin: 15px">

    <!-- Image -->
    <div class="image">
      <img src="{{i.product.image}}" alt="{{i.product.description}}" style="height: 180px"/>
    </div>

    <!-- Details -->
    <div class="description">

      <table>
        <tr>
          <td class="bw-label">Description:</td>
          <td>{{i.product.description}}</td>
        </tr>
        <tr>
          <td class="bw-label">Price:</td>
          <td>{{utils.toMoney(i.product.price)}}</td>
        </tr>
        <tr>
          <td class="bw-label">SKU:</td>
          <td>{{i.product.code}}</td>
        </tr>
      </table>

      <div style="margin-top: 10px">
        <span class="bw-label">Quantity:</span>
        <input type="number" min="1" ng-model="i.quantity" onkeydown="quantityInputKeyDown(event)" style="width: 40px"/>
        <span class="bw-label" style="margin-left: 50px">Total:</span>
        <span>{{utils.toMoney(i.total())}}</span>
      </div>

      <div>
        <button ng-click="removeFromCart(i)">REMOVE FROM CART</button>
      </div>
    </div>
  </div>
</div>

<!-- Order Summary Box -->
<div class="right-sidebar" style="padding: 10px">
  <div class="dark-border" ng-hide="isCartEmpty()">
    <i class="fa fa-shopping-cart" style="font-size:20px;"></i>
    <span class="secondary-heading">Order Summary</span>

    <table style="border-bottom: 2px solid gray">
      <tr>
        <td class="bw-label">Subtotal:</td>
        <td>{{utils.toMoney(cart.subtotal())}}</td>
      </tr>
      <tr>
        <td class="bw-label">Shipping:</td>
        <td>{{utils.toMoney(cart.shipping())}}</td>
      </tr>
      <tr>
        <td class="bw-label">Tax:</td>
        <td>{{utils.toMoney(cart.tax())}}</td>
      </tr>
    </table>

    <div style="margin-top: 10px">
      <span class="bw-label" >Total:</span>
      <span>{{utils.toMoney(cart.total())}}</span>
    </div>

    <button ng-click="proceedToCheckout()">PROCEED TO CHECKOUT</button>
  </div>
</div>
