<!DOCTYPE html>
<html lang="en" ng-app="a2zApp">
  <head>
    <title>CSS Website Layout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel=stylesheet href="index.css"/>

    <!-- External Libraries -->
    <script src="//code.angularjs.org/1.7.2/angular.js"></script>    
    <script src="//code.angularjs.org/1.7.2/angular-route.js"></script>    

    <!-- Create the Application - services, controllers, etc all need this -->
    <script>
      var a2zApp = angular.module('a2zApp', ['ngRoute']);
    </script>
    
    <!-- Controllers, Services, etc -->
    <!--<script src="services/query-products-service.js"></script>-->
    <script src="services/shopping-cart-service.js"></script>
    <script src="services/utils-service.js"></script>
    
    <script src="pages/query-results-controller.js"></script>
    <script src="pages/shopping-cart-controller.js"></script>
    <script src="pages/thank-you-controller.js"></script>

    <!-- Main App -->
    <script src="index.js"></script>    

  </head>

  <body ng-controller="MainController">

    <!-- Top Line: Logo, Search, Cart Icon -->
    <div class="header">
      <a href="#/home"><img src="images/a2z-logo.png" style="vertical-align: middle"/></a>
      <input type="text" style="vertical-align: middle" ng-model="searchText"/>
      <button class="btn" ng-click="search()"><i class="fa fa-search" style="font-size:36px;"></i></button>
      <button class="btn" ng-click="goToShoppingCart()">
        <i class="fa fa-shopping-cart" style="font-size:36px;"></i>
        <span ng-hide="cart.isEmpty()">{{cart.numberOfItemsInCart()}}</span>
      </button>
    </div>

    <!-- Navigation Bar -->
    <div class="topnav">
      <a href="#/home">Home</a>
      <a href="#/about">About</a>
      <a href="#/contact">Contact Us</a>
    </div>

    <!-- Main content will go here -->
    <div id="main">
      <div ng-view/>
    </div>

    <!-- Footer -->
    <div>
      <p style="text-align: center">Copyright© 2018  -  A-Z Inc.</p>
    </div>
  </body>
</html>
