code {
  display: block;
  white-space: pre-wrap;
}

.page-heading {
  font-size: 28px;
}

* {
  box-sizing: border-box;
}
.left {
  float: left;
  width: auto;
}
.right {
  float: none;
  width: 100%;
}

@media only screen and (max-width:500px) {
  .left, .right {
    float: none;
    width: 100%;
  }
}
